modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
SUPABASE_URL = "https://ffcillqhxuboeyduytrr.supabase.co"
SUPABASE_KEY = "sb_publishable_PL3dSw1wv0m56tzp7fJ44Q_YKCeRXAO"
ADMIN_SECRET = "rafflepop_admin_2024"
